pkgbase = tauri-explorer-bin
	pkgdesc = A keyboard-first file manager: fuzzy quick-open, ripgrep content search, a command palette for every action
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/xnmp/tauri-explorer
	arch = x86_64
	license = MIT
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	provides = tauri-explorer
	conflicts = tauri-explorer
	source = https://github.com/xnmp/tauri-explorer/raw/v1.3.2/packaging/tauri-explorer.portal
	source = https://github.com/xnmp/tauri-explorer/raw/v1.3.2/packaging/org.freedesktop.impl.portal.desktop.tauri_explorer.service
	source = LICENSE-1.3.2::https://github.com/xnmp/tauri-explorer/raw/v1.3.2/LICENSE
	sha256sums = 43efedaf882e2c9c2e7d6897ff3322001d1d81038d8e9b943c45eab9fd18b157
	sha256sums = c227502cb0c6ca4fa0f33f3ba6ca6b34306d088f456e828358470f18b1287d38
	sha256sums = 2d6c8e46090d2359cc4085085efb20e8d91355804a9e65231b5db21e3fb407e4
	source_x86_64 = https://github.com/xnmp/tauri-explorer/releases/download/v1.3.2/tauri-explorer_1.3.2_amd64.deb
	sha256sums_x86_64 = 0e95cd90a84499445066804b41b82f51df6028f3c678b95c2605b748ca90b629

pkgname = tauri-explorer-bin
